.page{
    background-image: url("res://background");
    background-size: cover;
    /* background-color: white; */
    width:100%;
    height:100%;
}

.header-icon{
    width:40%;
    vertical-align: middle;
}

.google-button-container{
    width:70%;
    vertical-align: bottom;
    margin-bottom: 5%;
    height: 6%;
    background-color: #ffffff;
    border-radius: 100;
    horizontal-align:center;
}

.google-button-icon{
    height:60%;
}

.google-button-label{
    font-size: 16%;
    color:#1B1B1B;
    font-weight:900;
    vertical-align: middle;
    margin-left: 5%;
}