<Page actionBarHidden="true">
    <GridLayout class="page" rows="*,auto">
        <Image row="0" class="header-icon" src="res://header_icon"></Image>
        <ActivityIndicator row="0" backgroundColor="transparent" horizontalAlignment="center" marginTop="60%"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
        <StackLayout row="1" class="google-button-container" orientation="horizontal" (tap)="onGoogleLogin()">
            <Image class="google-button-icon" src="res://google"></Image>
            <Label class="google-button-label" text="Continue With Google"></Label>
        </StackLayout>
    </GridLayout>
</Page>