<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout rows="auto,auto,auto" width="100%" height="100%">
            <GridLayout row="0" class="upper-container" verticalAlignment="top">
                <Image src="res://logo" width="80vh" height="80vh" verticalAlignment="top" marginTop="20%"></Image>
                <Image src="res://logo_transparent" width="70%" height="70%" verticalAlignment="top" marginTop="50%"
                    marginLeft="80%">
                </Image>
            </GridLayout>
            <GridLayout row="0" marginTop="20%" height="65%" width="100%">
                <GridLayout #registerCard orientation="vertical" width="80%" height="90%"
                    rows="auto,auto,auto,auto,auto" (loaded)="onRegisterLoaded($event)">
                    <StackLayout row="0" width="95%" height="15%" marginTop="5%" verticalAlignment="middle">
                        <Label color="#707070" fontSize="30%" textAlignment="center" [text]="heading"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="textfield-container" orientation="horizontal" borderWidth="1"
                        [borderBottomColor]="mobileBorderColor" borderLeftColor="transparent"
                        borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="mobileBorderWidth">
                        <GridLayout class="iconTextField" height="15%" width="15%">
                            <Image height="60%" width="60%" marginRight="15%" horizontalAlignment="center"
                                src="res://user_icon">
                            </Image>
                        </GridLayout>
                        <TextField [hint]="mobileHint" width="85%" fontSize="14%" color="#23A6DB"
                            style.placeholderColor="#B9B9B9" (textChange)="mobileTextField($event)"
                            borderColor="transparent" borderWidth="1" autocorrect="false" maxLength="10"
                            keyboardType="phone">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="2" class="textfield-container" orientation="horizontal" borderWidth="1"
                        [borderBottomColor]="passwordBorderColor" borderLeftColor="transparent"
                        borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="passwordBorderWidth">
                        <GridLayout class="iconTextField" height="15%" width="15%">
                            <Image height="60%" width="60%" marginRight="15%" horizontalAlignment="center"
                                src="res://lock">
                            </Image>
                        </GridLayout>
                        <TextField [hint]="passwordHint" width="70%" fontSize="14%" color="#23A6DB"
                            style.placeholderColor="#B9B9B9" (textChange)="passwordTextField($event)"
                            borderColor="transparent" borderWidth="1" autocorrect="false" [secure]="passwordSecure">
                        </TextField>
                        <Image src="res://eye" width="35" height="15" (tap)="onEye()"></Image>
                    </StackLayout>
                    <StackLayout row="3" class="textfield-container" orientation="horizontal" borderWidth="1"
                        [borderBottomColor]="confirmPasswordBorderColor" borderLeftColor="transparent"
                        borderRightColor="transparent" borderTopColor="transparent"
                        [borderWidth]="confirmPasswordBorderWidth">
                        <GridLayout class="iconTextField" height="15%" width="15%">
                            <Image height="60%" width="60%" marginRight="15%" horizontalAlignment="center"
                                src="res://lock">
                            </Image>
                        </GridLayout>
                        <TextField [hint]="confirmPasswordHint" width="70%" fontSize="14%" color="#23A6DB"
                            style.placeholderColor="#B9B9B9" (textChange)="confirmPasswordTextField($event)"
                            borderColor="transparent" borderWidth="1" autocorrect="false"
                            [secure]="confirmPasswordSecure">
                        </TextField>
                        <Image src="res://eye" width="35" height="15" (tap)="onConfirmEye()"></Image>
                    </StackLayout>
                    <StackLayout row="4" width="100%" height="30%" verticalAlignment="middle">
                        <Button class="register-button" [text]="registerButton" (tap)="onRegisterClick()"></Button>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
            <GridLayout row="2" height="15%" width="100%">
                <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle"
                    (tap)="onLoginClick()">
                    <Label color="#707070" fontSize="16" textAlignment="center" fontWeight="700"
                        text="Already have an account?"></Label>
                    <Label color="#707070" fontSize="16" textAlignment="center" fontWeight="700" text=" Login"></Label>
                </StackLayout>
            </GridLayout>
        </GridLayout>

        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>