<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #viewLogoutDialog modal size="lg" duration="100" backgroundColor="transparent" (tap)="onOutsideClick()">
            <StackLayout #logoutDialog width="80%" height="40%" backgroundColor="white" (loaded)="onLogoutDialogLoaded($event)" borderRadius="30%">
                <GridLayout rows="auto,auto,auto,auto,auto" width="90%" height="100%">
                    <StackLayout row="0" width="100%" height="10%" marginTop="15%" verticalAlignment="middle">
                        <Label text="Log Out" fontWeight="500" textAlignment="center" fontSize="16%" color="#707070"></Label>
                    </StackLayout>
                    <StackLayout row="1" width="100%" height="10%" marginTop="5%" verticalAlignment="middle">
                        <Label text="Are you sure you want to log out?" textWrap="true" textAlignment="center" fontSize="16%" color="#DBDBDB"></Label>
                    </StackLayout>
                    <StackLayout row="3" width="100%" height="20%" verticalAlignment="middle" marginTop="5%">
                        <Button class="filled-button" text="Cancel" (tap)="onCancelLogoutDialog()"></Button>
                    </StackLayout>
                    <StackLayout row="4" width="100%" height="20%" verticalAlignment="middle">
                        <Button class="blank-button" text="Log Out" (tap)="onLogoutDialog()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
        <GridLayout rows="auto,auto" width="100%" height="100%">
            <GridLayout row="0" class="upper-container" verticalAlignment="top">
                <Image src="res://logo_transparent" width="50%" height="100%" marginRight="85%" verticalAlignment="middle">
                </Image>
                <GridLayout columns="auto,auto,auto">
                    <StackLayout col="0" height="100%" width="30%" verticalAlignment="middle">
                        <StackLayout width="70vw" height="70vw" borderWidth="5" borderRadius="40%" borderColor="#B9B9B9">
                            <Image width="100%" height="100%" borderRadius="60%" [src]="profilePicture">
                            </Image>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout col="1" height="100%" width="50%" verticalAlignment="middle">
                        <Label [text]="userName" textWrap="true" fontSize="20%" color="#FFFFFF" fontWeight="500"></Label>
                        <!-- <Label [text]="phone" textWrap="true" fontSize="14%" color="#FFFFFF" fontWeight="500"></Label> -->
                    </StackLayout>

                    <StackLayout col="2" height="100%" width="20%" verticalAlignment="top">
                        <StackLayout width="35vw" height="35vw" borderRadius="20%" marginTop="15%" backgroundColor="#B9B9B9" verticalAlignment="middle" (tap)="onNextClick()">
                            <Image width="60%" height="60%" src="res://next">
                            </Image>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
            <GridLayout row="1" height="70%" width="100%">
                <GridLayout #optionsCard orientation="vertical" width="90%" height="90%" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" (loaded)="onOptionsLoaded($event)">
                    <GridLayout row="0" height="19%" width="100%" columns="auto,auto" (tap)="onHomeClick()">
                        <StackLayout col="0" height="100%" width="20%" verticalAlignment="middle">
                            <Image class="option-logo" src="res://home"></Image>
                        </StackLayout>
                        <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                            <Label class="option-heading" text="Home"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="1" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="2" height="19%" width="100%" columns="auto,auto" (tap)="onMyOrdersClick()">
                        <StackLayout col="0" height="100%" width="20%" verticalAlignment="middle">
                            <Image class="option-logo" src="res://my_orders"></Image>
                        </StackLayout>
                        <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                            <Label class="option-heading" text="My orders"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="3" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="4" height="19%" width="100%" columns="auto,auto" (tap)="onFAQClick()">
                        <StackLayout col="0" height="100%" width="20%" verticalAlignment="middle">
                            <Image class="option-logo" src="res://faq"></Image>
                        </StackLayout>
                        <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                            <Label class="option-heading" text="FAQ"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="5" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="6" height="19%" width="100%" columns="auto,auto" (tap)="onProfileClick()">
                        <StackLayout col="0" height="100%" width="20%" verticalAlignment="middle">
                            <Image class="option-logo" src="res://my_profile"></Image>
                        </StackLayout>
                        <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                            <Label class="option-heading" text="My profile"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="7" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="8" height="19%" width="100%" columns="auto,auto" (tap)="onLogout()">
                        <StackLayout col="0" height="100%" width="20%" verticalAlignment="middle">
                            <Image class="option-logo" src="res://logout"></Image>
                        </StackLayout>
                        <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                            <Label class="option-heading" text="Logout"></Label>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>