<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #uploadProgressDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout height="10%" width="90%" rows="auto,auto" backgroundColor="white" borderRadius="10">
                <StackLayout row="0" height="50%" width="90%" verticalAlignment="middle">
                    <Progress class="progress" color="#6D7CF1" [value]="uploadProgressValue" maxValue="100">
                    </Progress>
                </StackLayout>
                <StackLayout row="1" height="50%" width="50%" horizontalAlignment="center" verticalAlignment="middle">
                    <Label text="Loading ..." fontSize="20%" color="#6D7CF1" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </CardView>

        <CardView #viewImageChooserDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onOutsideClick()">
            <StackLayout #imageChooserDialog width="100%" height="35%" marginTop="65%" backgroundColor="white"
                (loaded)="onImageChooserDialogLoaded($event)" borderTopLeftRadius="30%" borderTopRightRadius="30%">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <GridLayout row="0" height="75%" width="100%" columns="auto,auto">
                        <StackLayout col="0" width="50%" height="90%" verticalAlignment="middle">
                            <GridLayout #cameraContainer class="camera-container" rows="auto,auto"
                                (loaded)="onCameraContainerLoaded($event)" (tap)="onCamera()">
                                <StackLayout row="0" width="100%" height="50%" marginTop="20%"
                                    verticalAlignment="bottom">
                                    <Image src="res://photo_camera" width="100%" height="100%"></Image>
                                </StackLayout>
                                <StackLayout row="1" width="100%" height="20%" verticalAlignment="middle">
                                    <Label text="Take a picture" fontSize="12%" color="white"
                                        textAlignment="center"></Label>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="90%" verticalAlignment="middle">
                            <GridLayout #galleryContainer class="gallery-container" rows="auto,auto"
                                (loaded)="onGalleryContainerLoaded($event)" (tap)="onGallery()">
                                <StackLayout row="0" width="100%" height="50%" marginTop="20%"
                                    verticalAlignment="bottom">
                                    <Image src="res://gallery" width="100%" height="100%"></Image>
                                </StackLayout>
                                <StackLayout row="1" width="100%" height="20%" verticalAlignment="middle">
                                    <Label text="From gallery" fontSize="12%" color="#707070"
                                        textAlignment="center"></Label>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="1" height="25%" width="100%" verticalAlignment="middle">
                        <Button class="blank-button" text="Cancel" (tap)="onCancelImageDialog()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <CardView #viewRemoveAccountDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onOutsideClick()">
            <StackLayout #removeAccountDialog width="80%" height="40%" backgroundColor="white"
                (loaded)="onRemoveAccountDialogLoaded($event)" borderRadius="30%">
                <GridLayout rows="auto,auto,auto,auto,auto" width="90%" height="100%">
                    <StackLayout row="0" width="100%" height="10%" marginTop="10%" verticalAlignment="middle">
                        <Label text="Remove Account" fontWeight="500" textAlignment="center" fontSize="16%"
                            color="#707070"></Label>
                    </StackLayout>
                    <StackLayout row="1" width="100%" height="10%" marginTop="5%" verticalAlignment="middle">
                        <Label text="Are you sure you want" textWrap="true" textAlignment="center" fontSize="16%"
                            color="#DBDBDB"></Label>
                    </StackLayout>
                    <StackLayout row="2" width="100%" height="10%" verticalAlignment="middle">
                        <Label text="to remove account?" textWrap="true" textAlignment="center" fontSize="16%"
                            color="#DBDBDB"></Label>
                    </StackLayout>
                    <StackLayout row="3" width="100%" height="20%" verticalAlignment="middle" marginTop="5%">
                        <Button class="filled-button" text="Cancel" (tap)="onCancelAccountDialog()"></Button>
                    </StackLayout>
                    <StackLayout row="4" width="100%" height="20%" verticalAlignment="middle">
                        <Button class="blank-button" text="Remove Account" (tap)="onRemoveAccountDialog()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <GridLayout rows="auto,auto,auto,,auto,auto,auto" width="100%" height="100%">
            <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
                <ns-header></ns-header>
            </GridLayout>
            <GridLayout row="0" class="upper-container" marginTop="8%" verticalAlignment="top">
                <GridLayout columns="auto,auto">
                    <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle">
                        <StackLayout width="120vw" height="120vw" borderWidth="5" borderRadius="60%"
                            borderColor="#B9B9B9">
                            <!-- <Image width="100%" height="100%" [src]="profilePicture">
                            </Image> -->
                            <Image *ngIf="isVisibleImage" src="res://profile" stretch="aspectFill" width="100%"
                                height="100%" borderRadius="60%">
                            </Image>
                            <Image *ngIf="!isVisibleImage" [src]="profilePicture" width="100%" height="100%"
                                stretch="aspectFill" borderRadius="60%">
                            </Image>F
                        </StackLayout>
                    </StackLayout>
                    <GridLayout col="1" height="25%" width="50%" verticalAlignment="middle">
                        <Button class="change-photo-button" [text]="changePhotoButton" (tap)="onChangePhotoClick()"
                            horizontalAlignment="left"></Button>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
            <StackLayout row="1" width="90%" height="10%" verticalAlignment="middle">
                <Label text="Account" fontSize="20%" fontWeight="500" color="#707070"></Label>
            </StackLayout>
            <GridLayout row="2" height="30%" width="100%">
                <GridLayout #optionsCard orientation="vertical" verticalAlignment="top" width="90%" height="90%"
                    rows="auto,auto,auto,auto,auto" (loaded)="onOptionsLoaded($event)">
                    <GridLayout row="0" height="33%" width="100%">
                        <StackLayout width="90%" height="100%" verticalAlignment="middle">
                            <!-- <Label class="option-heading" text="Change Password"></Label> -->
                            <TextField [hint]="firstNameHint" [text]="firstNameText" width="100%" fontSize="16%"
                                color="#23A6DB" style.placeholderColor="#B9B9B9"
                                (textChange)="firstNameTextField($event)" borderColor="transparent" borderWidth="1"
                                autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="1" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="2" height="33%" width="100%">
                        <StackLayout width="90%" height="100%" verticalAlignment="middle">
                            <!-- <Label class="option-heading" text="Change Password"></Label> -->
                            <TextField [hint]="lastNameHint" [text]="lastNameText" width="100%" fontSize="16%"
                                color="#23A6DB" style.placeholderColor="#B9B9B9"
                                (textChange)="lastNameTextField($event)" borderColor="transparent" borderWidth="1"
                                autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="3" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="4" height="33%" width="100%">
                        <StackLayout width="90%" height="100%" verticalAlignment="middle">
                            <TextField [hint]="phoneHint" [text]="phoneText" width="100%"
                                fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9"
                                (textChange)="phoneTextField($event)" borderColor="transparent" borderWidth="1"
                                autocorrect="false" maxLength="10" keyboardType="number">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <!-- <GridLayout row="3" height="1%" width="100%" verticalAlignment="middle">
                        <StackLayout class="seperator-line"></StackLayout>
                    </GridLayout>
                    <GridLayout row="4" height="34%" width="100%">
                        <StackLayout width="90%" height="100%" verticalAlignment="middle">
                            <TextField [hint]="emailHint" [text]="emailText" width="100%" fontSize="16%" color="#23A6DB"
                                style.placeholderColor="#B9B9B9" (textChange)="emailTextField($event)"
                                borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout> -->
                </GridLayout>
            </GridLayout>
            <GridLayout row="3" height="12%" width="100%">
                <GridLayout #optionsCard orientation="vertical" verticalAlignment="top" width="90%" height="90%"
                    (loaded)="onOptionsLoaded($event)" columns="auto,auto" (tap)="onRemoveAccount()">
                    <StackLayout col="0" height="100%" width="20%" verticalAlignment="middle">
                        <Image class="option-logo" src="res://rubbish_bin"></Image>
                    </StackLayout>
                    <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                        <Label class="option-heading" text="Remove Account"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
            <GridLayout row="4" height="10%" width="100%" verticalAlignment="middle">
                <Button class="submit-button" [text]="submitButton" (tap)="onSubmitClick()"
                    horizontalAlignment="center"></Button>
            </GridLayout>
            <StackLayout row="5" #footerCard (loaded)="onFooterLoaded($event)" height="8%" width="100%">
                <ns-footer></ns-footer>
            </StackLayout>
        </GridLayout>
        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>