<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
            <ns-header></ns-header>
        </GridLayout>
        <GridLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
            <ns-footer></ns-footer>
        </GridLayout>
        <StackLayout *ngIf="!isOrders" width="95%" height="10%" verticalAlignment="middle">
            <Label [text]="orderMessage" fontSize="16%" color="#8BDE22" fontWeight="500" textAlignment="center" textWrap="true"></Label>
        </StackLayout>
        <GridLayout rows="auto,auto" width="100%" height="100%">
            <GridLayout row="0" columns="auto,auto" height="12%" width="100%" marginTop="8%">
                <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle">
                    <Button *ngIf="isCurrentButton" class="selected-button" text="Current" (tap)="onCurrentClick()"></Button>
                    <Button *ngIf="!isCurrentButton" class="unselected-button" text="Current" (tap)="onCurrentClick()"></Button>
                </StackLayout>
                <StackLayout col="1" height="100%" width="50%" verticalAlignment="middle">
                    <Button *ngIf="isPastButton" class="selected-button" text="Past" (tap)="onPastClick()"></Button>
                    <Button *ngIf="!isPastButton" class="unselected-button" text="Past" (tap)="onPastClick()"></Button>
                </StackLayout>
            </GridLayout>
            <GridLayout row="1" width="100%" height="72%">
                <!-- <GridView [items]="orders" colWidth="90%" rowHeight="23%" marginTop="2%" width="100%" height="100%"
                    backgroundColor="transparent"> -->
                <RadListView [items]="orders" width="100%" height="100%" colWidth="90%" rowHeight="23%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd">
                        <GridLayout #cartCard width="90%" height="90vh" backgroundColor="white" marginLeft="8%" marginRight="8%" marginTop="5" marginBottom="5" columns="auto,auto,auto" androidElevation="2" borderRadius="10">
                            <StackLayout #orderImage col="0" width="25%" height="100vh" backgroundColor="#F3F3F3" verticalAlignment="middle" borderRadius="10">
                                <Image width="90vh" height="90vh" [src]="item.image"></Image>
                            </StackLayout>
                            <GridLayout col="1" width="50%" height="90vh" rows="auto,auto,auto">
                                <StackLayout row="0" width="95%" height="34%" verticalAlignment="middle">
                                    <Label [text]="item.date" color="#707070" fontSize="12%" textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout row="1" width="95%" height="33%" verticalAlignment="middle">
                                    <Label [text]="item.quantity+' Items'" color="#707070" fontSize="18%" verticalAlignment="middle" textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout row="2" width="95%" height="34%" verticalAlignment="middle">
                                    <Label [text]="item.status" color="#8BDE22" fontSize="10%" textAlignment="left" fontWeight="500"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout col="2" width="25%" height="100vh" rows="auto,auto,auto">
                                <StackLayout row="0" width="95%" height="34%" verticalAlignment="middle">
                                    <Label [text]="item.orderId" color="#8BDE22" fontSize="12%" textAlignment="center" fontWeight="500"></Label>
                                </StackLayout>
                                <StackLayout row="1" height="33%" width="100%" orientation="horizontal" horizontalAlignment="center">
                                    <Label text="Rs " color="#404040" fontSize="18%" verticalAlignment="middle" textAlignment="center" fontWeight="500"></Label>
                                    <Label [text]="item.grandTotal" color="#404040" fontSize="18%" verticalAlignment="middle" textAlignment="center" fontWeight="500"></Label>
                                </StackLayout>
                                <StackLayout row="2" height="34%" width="100%" orientation="horizontal" horizontalAlignment="center">
                                    <Button class="details-button" text="Details" (tap)="onDetailsClick(item)"></Button>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </GridLayout>
        </GridLayout>

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>