<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
            <ns-header></ns-header>
        </GridLayout>
        <StackLayout row="3" #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
            <ns-footer></ns-footer>
        </StackLayout>
        <GridLayout rows="auto,auto,auto,auto,auto" width="100%" height="100%">
            <StackLayout row="0" marginTop="10%" height="15%" width="100%" verticalAlignment="middle">
                <GridLayout #addressCard orientation="vertical" width="90%" height="90%" rows="auto,auto" (loaded)="onAddressLoaded($event)">
                    <StackLayout row="0" class="textfield-container" height="30%" verticalAlignment="middle">
                        <Label text="Add delivery instructions here" fontSize="16%" color="#404040"></Label>
                    </StackLayout>
                    <TextView row="1" hint="Type instruction here..." width="95%" margin="auto" height="65%" borderWidth="1" borderColor="#707070" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" padding="0 10px" borderRadius="5" (textChange)="commentTextField($event)">
                    </TextView>
                </GridLayout>
            </StackLayout>
            <StackLayout row="1" height="22%" width="100%" verticalAlignment="middle">
                <GridLayout #addressCard orientation="vertical" width="90%" height="90%" rows="auto,auto,auto" (loaded)="onAddressLoaded($event)">
                    <StackLayout row="0" class="textfield-container" height="30%" verticalAlignment="middle">
                        <Label text="Personal details" fontSize="16%" color="#404040"></Label>
                    </StackLayout>
                    <GridLayout row="1" columns="auto,auto" class="textfield-container" height="30%">
                        <StackLayout col="0" width="45%" height="auto" borderWidth="1" [borderBottomColor]="firstNameBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="firstNameBorderWidth" verticalAlignment="middle">
                            <TextField [hint]="firstNameHint" [text]="firstNameText" width="100%" height="100%" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" padding="0" (textChange)="firstNameTextField($event)" borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                        <StackLayout col="1" width="45%" height="auto" marginLeft="10%" orientation="horizontal" borderWidth="1" [borderBottomColor]="lastNameBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="lastNameBorderWidth"
                            verticalAlignment="middle">
                            <TextField [hint]="lastNameHint" [text]="lastNameText" width="100%" height="100%" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" padding="0" (textChange)="lastNameTextField($event)" borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="2" class="textfield-container" height="35%" borderWidth="1" [borderBottomColor]="contactNoBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="contactNoBorderWidth">
                        <TextField [hint]="contactNoHint" [text]="contactNoText" width="100%" height="100%" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" padding="0" (textChange)="contactNoTextField($event)" borderColor="transparent" borderWidth="1" autocorrect="false"
                            maxLength="10" keyboardType="number">
                        </TextField>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout row="2" height="30%" width="100%" verticalAlignment="middle">
                <GridLayout #addressCard orientation="vertical" width="90%" height="90%" rows="auto,auto,auto,auto" (loaded)="onAddressLoaded($event)">
                    <StackLayout row="0" class="addressField-container" height="12%" verticalAlignment="middle">
                        <Label text="Address details" fontSize="16%" color="#404040"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="textfield-container" orientation="horizontal" borderWidth="1" [borderBottomColor]="cityBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="cityBorderWidth">
                        <TextField [hint]="cityHint" [text]="cityText" width="100%" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" (textChange)="cityTextField($event)" padding="0" borderColor="transparent" borderWidth="1" autocorrect="false">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="2" class="textfield-container" orientation="horizontal" borderWidth="1" [borderBottomColor]="addressLineBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="addressLineBorderWidth">
                        <TextField [hint]="addressLineHint" [text]="addressLineText" width="100%" fontSize="16%" padding="0" color="#23A6DB" style.placeholderColor="#B9B9B9" (textChange)="addressLineTextField($event)" borderColor="transparent" borderWidth="1" autocorrect="false">
                        </TextField>
                    </StackLayout>
                    <GridLayout row="3" columns="auto,auto" class="textfield-container">
                        <StackLayout col="0" width="45%" height="auto" orientation="horizontal" borderWidth="1" [borderBottomColor]="apartmentBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="apartmentBorderWidth">
                            <TextField [hint]="apartmentHint" [text]="apartmentText" width="100%" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" padding="0" (textChange)="apartmentTextField($event)" borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                        <StackLayout col="1" width="45%" height="auto" marginLeft="10%" orientation="horizontal" borderWidth="1" [borderBottomColor]="floorBorderColor" borderLeftColor="transparent" borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="floorBorderWidth">
                            <TextField [hint]="floorHint" [text]="floorText" width="100%" fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9" (textChange)="floorTextField($event)" padding="0" keyboardType="number" borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <!-- <GridLayout row="1" columns="auto,auto" class="addressField-container" height="18%">
                        <StackLayout col="0" width="45%" height="auto" borderWidth="1"
                            [borderBottomColor]="houseNoBorderColor" borderLeftColor="transparent"
                            borderRightColor="transparent" borderTopColor="transparent"
                            [borderWidth]="houseNoBorderWidth">
                            <TextField [hint]="houseNoHint" [text]="houseNoText" width="100%" height="100%"
                                fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9"
                                (textChange)="houseNoTextField($event)" borderColor="transparent" borderWidth="1"
                                autocorrect="false">
                            </TextField>
                        </StackLayout>
                        <StackLayout col="1" width="45%" height="auto" marginLeft="10%" orientation="horizontal"
                            borderWidth="1" [borderBottomColor]="apartmentBorderColor" borderLeftColor="transparent"
                            borderRightColor="transparent" borderTopColor="transparent"
                            [borderWidth]="apartmentBorderWidth">
                            <TextField [hint]="apartmentHint" [text]="apartmentText" width="100%" height="100%"
                                fontSize="16%" color="#23A6DB" style.placeholderColor="#B9B9B9"
                                (textChange)="apartmentTextField($event)" borderColor="transparent" borderWidth="1"
                                autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="2" class="addressField-container" borderWidth="1" height="18%"
                        [borderBottomColor]="streetBorderColor" borderLeftColor="transparent"
                        borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="streetBorderWidth">
                        <TextField [hint]="streetHint" [text]="streetText" width="100%" height="100%" fontSize="16%"
                            color="#23A6DB" style.placeholderColor="#B9B9B9" (textChange)="streetTextField($event)"
                            borderColor="transparent" borderWidth="1" autocorrect="false">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="3" class="addressField-container" borderWidth="1" height="18%"
                        [borderBottomColor]="landmarkBorderColor" borderLeftColor="transparent"
                        borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="landmarkBorderWidth">
                        <TextField [hint]="landmarkHint" [text]="landmarkText" width="100%" height="100%" fontSize="16%"
                            color="#23A6DB" style.placeholderColor="#B9B9B9" (textChange)="landmarkTextField($event)"
                            borderColor="transparent" borderWidth="1" autocorrect="false">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="4" class="addressField-container" borderWidth="1" height="18%"
                        [borderBottomColor]="areaBorderColor" borderLeftColor="transparent"
                        borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="areaBorderWidth">
                        <TextField [hint]="areaHint" [text]="areaText" width="100%" height="100%" fontSize="16%"
                            color="#23A6DB" style.placeholderColor="#B9B9B9" (textChange)="areaTextField($event)"
                            borderColor="transparent" borderWidth="1" autocorrect="false">
                        </TextField>
                    </StackLayout> -->
                </GridLayout>
            </StackLayout>
            <!-- <StackLayout row="1" width="100%" height="10%" verticalAlignment="top" marginTop="35%">
                <Button class="update-button" [text]="addAddressButton" (tap)="onAddAddressClick()"></Button>
            </StackLayout> -->
            <StackLayout row="3" width="100%" height="7%" verticalAlignment="top">
                <Button class="update-button" text="Place order" (tap)="onPlaceOrderClick()"></Button>
            </StackLayout>
            <StackLayout row="4" width="95%" height="auto">
                <Label text="Note* : Delivery service only available in Sri Ganganagar city and nearby villages." textWrap="true" color="red" fontSize="16%"></Label>
            </StackLayout>
        </GridLayout>

        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>