.page{
    /* background-image: url("res://background"); */
    background-size: cover;
    background-color: #F6F6F6;
    width:100%;
    height:100%;
}
.upper-container{
     /* background-image: url("res://background"); */
     background-size: cover;
     background: linear-gradient(135deg,#23A6DB,#8BDE22);
     width:100%;
     height:50%;
}
.top-heading{
    font-size:32;
    font-weight: 500;
    color:#1B1B1B;
}
.menu-icon{
    width:25;
    height:25;
    margin-top:10;
}
.textfield-container{
    width:95%;
    height:25%;
  }
.addressField-container{
    width:95%;
  }
.update-button{
    font-size: 16%;
    border-radius: 100;
    background: linear-gradient(345deg,#8BDE22,#23A6DB);
    text-transform: initial;
    color:white;
    /* border-color: white;
    border-width:1; */
    padding:0;
    height:80%;
    width:50%;
}
.update-button:highlighted{
    background-color: white;
    /* border-color: #273BD3; */
    color: #273BD3;
}