<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
            <ns-header></ns-header>
        </GridLayout>
        <StackLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
            <ns-footer></ns-footer>
        </StackLayout>
        <GridLayout rows="auto,auto,auto,auto" width="100%" height="100%">
            <!-- <GridLayout class="slider" row="0">
            <Image width="100%" height="100%" src="res://slider" stretch="aspectFit"></Image>
        </GridLayout> -->
            <GridLayout *ngIf="isSlider" row="0" class="slider">
                <Carousel #myCarousel ios:indicatorOffset="0,-10" ios:finite="true" ios:bounce="false"
                    android:indicatorAlignment="bottom" showIndicator="false" [selectedPage]="selectedPage"
                    height="100%" width="100%" indicatorColor="#8BDE22" android:indicatorAnimation="swap"
                    indicatorColorUnselected="#23A6DB">
                    <CarouselItem>
                        <StackLayout class="sliderImageContainer" #sliderImage (loaded)="onSliderLoaded($event)">
                            <Image borderRadius="5" stretch="aspectFill" [src]="sliderImage1"></Image>
                        </StackLayout>
                    </CarouselItem>
                    <CarouselItem>
                        <StackLayout class="sliderImageContainer" #sliderImage (loaded)="onSliderLoaded($event)">
                            <Image borderRadius="5" stretch="aspectFill" [src]="sliderImage2"></Image>
                        </StackLayout>
                    </CarouselItem>
                    <CarouselItem>
                        <StackLayout class="sliderImageContainer" #sliderImage (loaded)="onSliderLoaded($event)">
                            <Image borderRadius="5" stretch="aspectFill" [src]="sliderImage3"></Image>
                        </StackLayout>
                    </CarouselItem>
                    <CarouselItem>
                        <StackLayout class="sliderImageContainer" #sliderImage (loaded)="onSliderLoaded($event)">
                            <Image borderRadius="5" stretch="aspectFill" [src]="sliderImage4"></Image>
                        </StackLayout>
                    </CarouselItem>
                </Carousel>
            </GridLayout>
            <GridLayout row="1" width="100%" height="38%">
                <!-- <GridView [items]="categories" colWidth="28%" rowHeight="48%" width="100%" height="100%"> -->
                <RadListView [items]="categories" width="100%" height="100%" colWidth="28%" rowHeight="48%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="3">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd">
                        <!-- <CardView width="80%" height="90%" ripple="true" margin="10" elevation="10" radius="20"
                            ios:shadowRadius="5"> -->
                        <GridLayout width="80%" height="90%" #categoryCard marginTop="10" marginBottom="10"
                            backgroundColor="white" rows="auto,auto" borderRadius="10" androidElevation="5"
                            (tap)="onCategoryClick(item)">
                            <StackLayout row="0" width="100%" height="70%" verticalAlignment="bottom">
                                <Image width="70vw" height="70vw" marginTop="10" stretch="aspectFill"
                                    [src]="item.imageUrl"></Image>
                            </StackLayout>
                            <StackLayout row="1" width="100%" height="25%" verticalAlignment="top">
                                <Label [text]="item.name" textWrap="true" fontSize="13%" color="#707070"
                                    textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                    <!-- </GridView> -->
                </RadListView>
            </GridLayout>
            <GridLayout *ngIf="isOffer" class="season-special" row="2" rows="auto,auto">
                <StackLayout row="0" height="auto" marginTop="12" width="100%" verticalAlignment="middle">
                    <Label [text]="offerHeading" color="#FFFFFF" fontSize="20%" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout row="1" height="auto" marginTop="12" marginBottom="12" width="100%"
                    verticalAlignment="middle">
                    <StackLayout height="auto" width="50%" borderColor="#FFFFFF" borderWidth="1" borderRadius="5%"
                        verticalAlignment="middle">
                        <Label [text]="offer" color="#FFFFFF" fontSize="20%" fontWeight="300"
                            textAlignment="center"></Label>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
            <StackLayout *ngIf="isViewButton" row="3" width="100%" height="8%" verticalAlignment="middle">
                <Button class="view-button" text="View more" (tap)="onViewMoreClick()"></Button>
            </StackLayout>
        </GridLayout>

        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>