.page{
    /* background-image: url("res://background"); */
    background-size: cover;
    background-color: #F6F6F6;
    width:100%;
    height:100%;
}

.slider{
    height:22%;
    width:100%;
    margin-top:8%;
    background-color: #F6F6F6;
    /* background: linear-gradient(320deg,#8BDE22,#23A6DB); */
}

.sliderImageContainer{
    width:95%;
    height:90%;
    margin-top: 5%;
    border-radius: 5;
}

.season-special{
    height:auto;
    width:100%;
    background: linear-gradient(320deg,#8BDE22,#23A6DB);
}

.view-button{
    font-size: 16%;
    border-radius: 100;
    background: linear-gradient(345deg,#8BDE22,#23A6DB);
    text-transform: initial;
    color:white;
    /* border-color: white; */
    /* border-width:1; */
    padding:0;
    height:70%;
    width:40%;
}
.view-button:highlighted{
    background-color: white;
    /* border-color: #273BD3; */
    color: #273BD3;
}