<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
            <ns-header></ns-header>
        </GridLayout>
        <GridLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
            <ns-footer></ns-footer>
        </GridLayout>
        <GridLayout rows="auto,auto,auto,auto" width="100%" height="100%">
            <GridLayout row="0" height="5%" width="100%" marginTop="8%" columns="auto,auto">
                <StackLayout col="0" width="50%" marginLeft="5%" height="70%" borderRadius="35%"
                    backgroundColor="#DBDBDB" verticalAlignment="middle">
                    <Label [text]="date" textAlignment="center" fontSize="16%" color="#FFFFFF"></Label>
                </StackLayout>
                <StackLayout col="1" width="40%" height="70%" verticalAlignment="middle">
                    <Label [text]="orderId" textAlignment="center" fontSize="16%" color="#8BDE22"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="1" width="100%" height="30%">
                <!-- <GridView [items]="orderedProducts" colWidth="90%" rowHeight="32%" marginTop="2%" width="100%"
                    height="100%" backgroundColor="transparent"> -->
                <RadListView [items]="orderedProducts" width="100%" height="100%" colWidth="90%" rowHeight="32%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd">
                        <GridLayout #orderCard width="90%" height="90vh" backgroundColor="white" marginLeft="8%"
                            marginRight="8%" marginTop="5" marginBottom="5" columns="auto,auto" androidElevation="2"
                            borderRadius="10">
                            <StackLayout #productImage col="0" width="25%" height="100vh" backgroundColor="#F3F3F3"
                                verticalAlignment="middle" borderRadius="10">
                                <Image width="90vh" height="90vh" [src]="item.image"></Image>
                            </StackLayout>
                            <GridLayout col="1" width="75%" height="100vh" rows="auto,auto,auto">
                                <StackLayout row="0" width="95%" height="40%" verticalAlignment="middle">
                                    <Label [text]="item.name" color="#707070" fontSize="18%"
                                        textAlignment="left"></Label>
                                </StackLayout>
                                <GridLayout row="1" width="95%" height="25%" columns="auto,auto"
                                    verticalAlignment="middle">
                                    <StackLayout col="1" height="100%" width="50%" verticalAlignment="middle"
                                        horizontalAlignment="left">
                                        <Label [text]="'Quantity '+item.quantity" color="#707070" fontSize="12%"
                                            fontWeight="500" textAlignment="left"></Label>
                                    </StackLayout>
                                    <!-- <StackLayout height="1" width="32%" horizontalAlignment="left"
                                        verticalAlignment="middle" marginLeft="18%" backgroundColor="#707070">
                                    </StackLayout> -->
                                    <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle"
                                        horizontalAlignment="left">
                                        <Label [text]="item.weightValue+' '+item.weightUnit" color="#707070"
                                            fontSize="12%" fontWeight="500" textAlignment="left"></Label>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="2" width="95%" height="35%" columns="auto,auto"
                                    verticalAlignment="middle">
                                    <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle"
                                        horizontalAlignment="left">
                                        <Label [text]="'Rs '+item.price " color="#404040" fontSize="18%"
                                            textAlignment="left" fontWeight="500"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" height="100%" width="50%" verticalAlignment="middle"
                                        horizontalAlignment="left">
                                        <Label [text]="'Total Rs '+item.total " color="#404040" fontSize="18%"
                                            textAlignment="left" fontWeight="500"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </GridLayout>
            <GridLayout row="2" height="10%" width="90%" marginTop="1%" marginBottom="1%" #commentCard
                (loaded)="onPriceCardLoaded($event)">
                <ScrollView>
                    <GridLayout row="0" width="95%" height="100%" columns="auto,*">
                            <Label col="0" class="price-heading" text="Instruction :"></Label>
                            <Label col="1" fontSize="15%" color="#404040"  height="100%" verticalAlignment="top" horizontalAlignment="left" textWrap="true" [text]="' '+comment"></Label>
                    </GridLayout>
                </ScrollView>
            </GridLayout>
            <StackLayout row="3" height="40%" width="100%" marginBottom="5%" backgroundColor="#F6F6F6">
                <GridLayout #priceCard orientation="vertical" width="90%" height="85%" marginTop="2%"
                    rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" (loaded)="onPriceCardLoaded($event)">
                    <GridLayout row="0" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Subtotal"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="'Rs '+subtotal "></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="1" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Total Items"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="totalItems"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="2" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Delivery Charges"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label fontSize="16%" verticalAlignment="middle" color="#FF3939" fontWeight="500"
                                [text]="deliveryCharges"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="3" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Total"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="'Rs '+total"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="4" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Name"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="name"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="5" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Address line"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="address"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="6" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="City"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="city"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="7" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Apartment"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="apartment"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="8" width="95%" height="10%" columns="auto,auto">
                        <StackLayout class="price-heading-container" col="0">
                            <Label class="price-heading" text="Contact number"></Label>
                        </StackLayout>
                        <StackLayout class="price-detail-container" col="1">
                            <Label class="price-detail" [text]="contactNumber"></Label>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="9" width="95%" height="1" backgroundColor="#DBDBDB"></StackLayout>
                    <StackLayout row="10" width="95%" height="9%" verticalAlignment="middle">
                        <Label [text]="orderStatus" textAlignment="center" fontSize="16%" color="#8BDE22"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>

        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>