<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
            <ns-header></ns-header>
        </GridLayout>
        <StackLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
            <ns-footer></ns-footer>
        </StackLayout>
        <GridLayout rows="auto,auto,auto" width="100%" height="100%">
            <GridLayout row="0" class="upper-container" marginTop="8%" verticalAlignment="top">
                <GridLayout columns="auto,auto">
                    <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle">
                        <StackLayout width="120vw" height="120vw" borderWidth="5" borderRadius="60%" borderColor="#B9B9B9">
                            <Image width="100%" height="100%" borderRadius="60%" [src]="profilePicture" stretch="aspectFill">
                            </Image>
                        </StackLayout>
                    </StackLayout>
                    <GridLayout col="1" height="100%" width="50%" verticalAlignment="middle" rows="auto,auto,auto,auto">
                        <StackLayout row="0" height="auto" width="100%" verticalAlignment="middle" marginTop="20%">
                            <Label [text]="userName" fontSize="20%" color="#707070" fontWeight="500"></Label>
                        </StackLayout>
                        <StackLayout row="1" height="auto" width="100%" verticalAlignment="middle">
                            <Label [text]="phone" fontSize="14%" color="#707070" fontWeight="300"></Label>
                        </StackLayout>
                        <StackLayout row="2" height="auto" width="100%" verticalAlignment="middle">
                            <Label [text]="email" fontSize="12%" color="#707070" fontWeight="300"></Label>
                        </StackLayout>
                        <GridLayout row="3" height="20%" width="100%" verticalAlignment="middle" marginTop="15%">
                            <Button class="edit-button" [text]="editButton" (tap)="onEditClick()" horizontalAlignment="left"></Button>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
            <StackLayout row="1" width="90%" height="10%" verticalAlignment="middle">
                <Label text="Account" fontSize="20%" fontWeight="500" color="#707070"></Label>
            </StackLayout>
            <GridLayout row="2" height="20%" width="100%">
                <GridLayout #optionsCard orientation="vertical" verticalAlignment="top" width="90%" height="45%" (loaded)="onOptionsLoaded($event)" columns="auto,auto">
                    <GridLayout height="50%" width="100%" columns="auto,auto" (tap)="onShippingClick()">
                        <StackLayout col=" 0" height="100%" width="20%" verticalAlignment="middle">
                            <Image class="option-logo" src="res://shipping"></Image>
                        </StackLayout>
                        <StackLayout col="1" height="100%" width="80%" verticalAlignment="middle">
                            <Label class="option-heading" text="Address"></Label>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
            <!-- <StackLayout row="3" width="90%" height="10%" verticalAlignment="middle">
                <Label text="Notifications" fontSize="20%" fontWeight="500" color="#707070"></Label>
            </StackLayout>
            <GridLayout row="4" height="12%" width="100%">
                <GridLayout #optionsCard orientation="vertical" verticalAlignment="top" width="90%" height="90%"
                    (loaded)="onOptionsLoaded($event)" columns="auto,auto">
                    <StackLayout col="0" height="100%" width="65%" marginLeft="5%" verticalAlignment="middle">
                        <Label class="option-heading" text="App Notifications"></Label>
                    </StackLayout>
                    <StackLayout col="1" height="100%" width="30%" verticalAlignment="middle"> -->
            <!-- <Image class="option-logo" src="res://home"></Image> -->
            <!-- <Switch color="#67CB62" backgroundColor="#B9B9B9" offBackgroundColor="#B9B9B9"
                            horizontalAlignment="center">
                        </Switch>
                    </StackLayout>
                </GridLayout>
            </GridLayout> -->
        </GridLayout>

        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>