<Page actionBarHidden="true">
    <GridLayout class="page">
        <StackLayout height="100%" width="100%" backgroundColor="#FFFFFF" verticalAlignment="Top">
            <GridLayout columns="auto,auto,auto">
                <StackLayout [visibility]="showBackButton" col="0" width="15%" height="100%" verticalAlignment="middle">
                    <!-- <Image class="header-icon" [src]="backIcon">
                    </Image> -->
                    <Button class="back-button" (tap)="onBackClick()"></Button>
                </StackLayout>
                <StackLayout *ngIf="!showLogo" col="1" width="70%" height="100%" verticalAlignment="middle"
                    horizontalAlignment="center">
                    <Label class="header-label" [text]="headerLabel"></Label>
                </StackLayout>
                <StackLayout *ngIf="showLogo" col="1" width="70%" height="100%" verticalAlignment="middle"
                    horizontalAlignment="center">
                    <Image class="sabg-logo" [src]="sabgLogo">
                    </Image>
                </StackLayout>
                <StackLayout col="2" width="15%" height="100%" verticalAlignment="middle"
                    horizontalAlignment="center">
                    <Image class="whatsapp_icon" (tap)="onWhatsapp()" [src]="whatsappLogo"></Image>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</Page>